{% extends "base.html" %}

{% block content %}
  <h1>{{ car.model }}</h1>
  <hr>
  <p><strong>Manufacturer: </strong>{{ car.manufacturer.name }}</p>
  <p><strong>Country: </strong>{{ car.manufacturer.country }}</p>
  <hr>
  <h3>Drivers:</h3>
  {% for driver in car.drivers.all %}
    <p>
      <strong>{{ forloop.counter }}. Full name: </strong>
      {{ driver.first_name }} {{ driver.last_name }}
    </p>
    <p><strong>Username: </strong>{{ driver.username }}</p>
    <p><strong>Email: </strong>{{ driver.email }}</p>
    <p><strong>License number: </strong>{{ driver.license_number }}</p><br>
  {% empty %}
    <p>No Drivers!</p>
  {% endfor %}
{% endblock %}
